@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeDown {
  animation: fadeDown 0.25s ease-out;
}

/* Scrollbar elegante */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(52, 211, 153, 0.4); /* verde esmeralda suave */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(52, 211, 153, 0.8);
}
